.bm-burger-button {
  position: fixed;
  width: 35px;
  height: 25px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #B99F65;;
}

.bm-burger-bars-hover {
  background: #B99F65;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #B99F65;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: url('../../../../styles/img/black.jpg');
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #B99F65;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-element {
  cursor: pointer;
  width: 100% !important;
}

.navbar-children {
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;
  box-shadow: none !important;
}

.btn-label {
  padding: 0px !important;
  margin: 0px !important;
  color: #B99F65 !important;
  font-size: 1.02em !important;
}