.img-user {
  width: 45px;
  height: 45PX;
}

.badge-position {
  position: absolute;
}

.btn-primary {
  color: #fff;
  background-color: #ffffff00 !important;
  border-color: #ffffff00 !important;
}