.notify-info-icon {
  color: #0053ff;
}

.notify-warning-icon {
  color: #ffe021;
}

.notify-error-icon {
  color: #c00000;
}

.notify-info {
  border: 1px solid;
  border-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed) 1;
  padding: 8px;
}

.notify-warning {
  border: 1px solid;
  border-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19) 1;
  padding: 8px;
}

.notify-error {
  border: 1px solid;
  border-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f) 1;
  padding: 8px;
}

.notify-text {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
}