.notify-info-icon {
  color: #0053ff;
}

.notify-warning-icon {
  color: #ffe021;
}

.notify-error-icon {
  color: #c00000;
}

.notify-info {
  border-radius: 50px;
  border-color: #0053ff;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.notify-warning {
  border-radius: 50px;
  border-color: #ffe021;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.notify-error {
  border-radius: 50px;
  border-color: #c00000;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.notify-text {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
}