.check-photo {
  background: url('../../styles/svg/circle.svg') no-repeat;
  width: 64px;
  height: 64px;
  border-color: rgba(240, 248, 255, 0);
  font-size: 28px;
  color: rgb(177, 145, 80);
}

.no-check-photo {
  background: url('../../styles/svg/circle-gray.svg') no-repeat;
  width: 64px;
  height: 64px;
  border-color: rgba(240, 248, 255, 0);
  font-size: 28px;
  color: #9E9E9E;
}