.circular {
  border-radius: 50% !important;
  width: 80px !important;
  height: 80px !important;
  font-size: 1.8em !important;
  display: table-cell !important;
}

.button-center {
  display: flex;
  align-items: center;
}

.div-center {
  width: 100%;
}